---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Home from '../components/Home.astro';
import About from '../components/About.astro';
import Services from '../components/Services.astro';
import Projects from '../components/Projects.astro';
import Gallery from '../components/Gallery.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import Modals from '../components/Modals.astro';
---

<Layout title="Racam - Servicios Eléctricos Integrales">
	<Header />
	<main class="main">
		<Home />
		<About />
		<Services />
		<Projects />
		<Gallery />
		<Contact />
	</main>
	<Footer />
	<Modals />
</Layout>
