<section class="about section" id="about">
   <div class="about__container container grid">
      <div class="about__data">
         <span class="section__subtitle">NOSOTROS</span>
         <h2 class="section__title">
            Expertos en Soluciones <br> Eléctricas Integrales
         </h2>

         <p class="about__description">
            Somos una empresa especializada en servicios eléctricos integrales. <br> Nuestro compromiso es
            garantizar la seguridad, eficiencia y confiabilidad en cada proyecto que realizamos.
         </p>

         <ul class="about__list grid">
            <li class="about__list-item">
               <i class="ri-checkbox-circle-line"></i>
               <span>Compromiso con la seguridad</span>
            </li>

            <li class="about__list-item">
               <i class="ri-checkbox-circle-line"></i>
               <span>Calidad garantizada</span>
            </li>

            <li class="about__list-item">
               <i class="ri-checkbox-circle-line"></i>
               <span>Amplia experiencia</span>
            </li>

            <li class="about__list-item">
               <i class="ri-checkbox-circle-line"></i>
               <span>Presupuestamos tu proyecto</span>
            </li>
         </ul>

         <a href="#gallery" class="button">Ver Galería</a>
      </div>

      <div class="about__images">
         <img src="/assets/img/about-img-1.png" alt="image" class="about__img-1">
         <img src="/assets/img/about-img-2.png" alt="image" class="about__img-2">
      </div>
   </div>
</section>
