<section class="contact section" id="contact">
   <div class="container">
      <span class="section__subtitle">CONTACTANOS</span>
      <h2 class="section__title">Write To Us & Build</h2>

      <div class="contact__container grid">
         <img src="/assets/img/contact-img.png" alt="image" class="contact__img">

         <div class="contact__data grid">
            <div class="contact__card">
               <div class="contact__icon">
                  <i class="ri-map-pin-2-line"></i>
               </div>

               <h3 class="contact__title">I'm here</h3>
               <address class="contact__info">
                  Peru - Lima <br>
                  Av.Moon #321
               </address>
            </div>

            <div class="contact__card">
               <div class="contact__icon">
                  <i class="ri-phone-line"></i>
               </div>

               <h3 class="contact__title">Talk to me</h3>
               <address class="contact__info">
                  +00-987-7654-321 <br>
                  +11-012345
               </address>
            </div>

            <div class="contact__card">
               <div class="contact__icon">
                  <i class="ri-message-3-line"></i>
               </div>

               <h3 class="contact__title">Chat with me</h3>

               <div class="contact__social">
                  <a href="https://api.whatsapp.com/send?phone=55112346789&text=Hello, more information!"
                     target="_blank" class="contact__social-link">
                     <i class="ri-whatsapp-line"></i>
                  </a>

                  <a href="https://m.me/" target="_blank" class="contact__social-link">
                     <i class="ri-messenger-line"></i>
                  </a>

                  <a href="https://t.me/telegram" target="_blank" class="contact__social-link">
                     <i class="ri-telegram-line"></i>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
