<header class="header" id="header">
   <nav class="nav container">
      <a href="#" class="nav__logo">
         <i class="ri-building-3-line"></i>
         <span>Racam</span>
      </a>

      <div class="nav__menu" id="nav-menu">
         <ul class="nav__list">
            <li>
               <a href="#home" class="nav__link active-link">Inicio</a>
            </li>

            <li>
               <a href="#about" class="nav__link">Nosotros</a>
            </li>

            <li>
               <a href="#services" class="nav__link">Servicios</a>
            </li>

            <li>
               <a href="#projects" class="nav__link">Projectos</a>
            </li>

            <li>
               <a href="#gallery" class="nav__link">Galería</a>
            </li>

            <li>
               <a href="#contact" class="nav__link button">Contacto</a>
            </li>
         </ul>

         <!-- Close button -->
         <div class="nav__close" id="nav-close">
            <i class="ri-close-large-line"></i>
         </div>
      </div>

      <!-- Toggle menu -->
      <div class="nav__toggle" id="nav-toggle">
         <i class="ri-apps-2-line"></i>
      </div>
   </nav>
</header>
