<section class="home section" id="home">
   <img src="/assets/img/home-lines-bg.svg" alt="image" class="home__lines">

   <div class="home__container container grid">
      <div class="home__content grid">
         <div class="home__data">
            <h1 class="home__title">
               Energía en <br>
               cada Proyecto <br>
            </h1>

            <p class="home__description">
               Brindamos servicios eléctricos integrales de alta calidad para proyectos residenciales, comerciales
               e industriales <br> con seguridad y eficiencia garantizada.
            </p>

            <div class="home__buttons">
               <a href="#services" class="button">Servicios</a>

               <a href="#projects" class="button__link">
                  <span>Proyectos</span>
                  <i class="ri-arrow-right-line"></i>
               </a>
            </div>
         </div>

         <div class="home__info">
            <div>
               <h3 class="home__info-title">10+</h3>
               <p class="home__info-description">Years of <br> Experience</p>
            </div>

            <div>
               <h3 class="home__info-title">200</h3>
               <p class="home__info-description">Complete <br> Projects</p>
            </div>
         </div>
      </div>

      <div class="home__images">
         <img src="/assets/img/home-img-1.png" alt="image" class="home__img-1">
         <img src="/assets/img/home-img-2.png" alt="image" class="home__img-2">
      </div>
   </div>
</section>
