<section class="projects section" id="projects">
   <span class="section__subtitle">NUESTROS PROYECTOS</span>
   <h2 class="section__title">Latest Completed <br> Projects</h2>

   <div class="projects__container container grid">
      <article class="projects__card">
         <img src="/assets/img/projects-img-1.png" alt="image" class="projects__img">

         <div class="projects__data">
            <span>House construction</span>
            <h2 class="projects__title">Two Story House</h2>
            <span class="projects__date">January 15, 2024</span>

            <p>
               Construction of a two-story house with columns,
               foundations, floor, ceilings and others.
            </p>

            <a type="button" class="button__link projects__link" onclick="openProjectModal('project1')">
               <span>Ver fotos</span>
               <i class="ri-camera-line"></i>
            </a>
         </div>
      </article>

      <article class="projects__card">
         <img src="/assets/img/projects-img-2.png" alt="image" class="projects__img">

         <div class="projects__data">
            <span>Maintenance & Repair</span>
            <h2 class="projects__title">Stairs & Columns</h2>
            <span class="projects__date">May 21, 2024</span>

            <p>
               Construction of a two-story house with columns,
               foundations, floor, ceilings and others.
            </p>

            <a type="button" class="button__link projects__link" onclick="openProjectModal('project2')">
               <span>Ver fotos</span>
               <i class="ri-camera-line"></i>
            </a>
         </div>
      </article>

      <article class="projects__card">
         <img src="/assets/img/projects-img-3.png" alt="image" class="projects__img">

         <div class="projects__data">
            <span>Construction Of Home Areas</span>
            <h2 class="projects__title">kitchen Room</h2>
            <span class="projects__date">July 03, 2024</span>

            <p>
               Construction of a two-story house with columns,
               foundations, floor, ceilings and others.
            </p>

            <a type="button" class="button__link projects__link" onclick="openProjectModal('project3')">
               <span>Ver fotos</span>
               <i class="ri-camera-line"></i>
            </a>
         </div>
      </article>
   </div>
</section>
